[submodule "pack/third-party/start/vim-commentary"]
	path = pack/third-party/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "pack/third-party/start/vim-liquid"]
	path = pack/third-party/start/vim-liquid
	url = https://github.com/tpope/vim-liquid
[submodule "pack/third-party/start/vim-markdown"]
	path = pack/third-party/start/vim-markdown
	url = https://github.com/tpope/vim-markdown
[submodule "pack/third-party/start/vim-repeat"]
	path = pack/third-party/start/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "pack/third-party/start/vim-surround"]
	path = pack/third-party/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "pack/third-party/start/vim-fugitive"]
	path = pack/third-party/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "pack/third-party/start/vim-qf"]
	path = pack/third-party/start/vim-qf
	url = https://github.com/romainl/vim-qf
[submodule "pack/third-party/start/vim-cool"]
	path = pack/third-party/start/vim-cool
	url = https://github.com/romainl/vim-cool
[submodule "pack/third-party/start/tagbar"]
	path = pack/third-party/start/tagbar
	url = https://github.com/preservim/tagbar
[submodule "pack/third-party/opt/vim-lsp"]
	path = pack/third-party/opt/vim-lsp
	url = https://github.com/prabirshrestha/vim-lsp
[submodule "pack/third-party/opt/asyncomplete.vim"]
	path = pack/third-party/opt/asyncomplete.vim
	url = https://github.com/prabirshrestha/asyncomplete.vim
[submodule "pack/third-party/opt/asyncomplete-lsp.vim"]
	path = pack/third-party/opt/asyncomplete-lsp.vim
	url = https://github.com/prabirshrestha/asyncomplete-lsp.vim
[submodule "pack/third-party/opt/undotree"]
	path = pack/third-party/opt/undotree
	url = https://github.com/mbbill/undotree
[submodule "pack/third-party/opt/vimspector"]
	path = pack/third-party/opt/vimspector
	url = https://github.com/puremourning/vimspector
[submodule "pack/third-party/start/apprentice"]
	path = pack/third-party/start/apprentice
	url = https://github.com/romainl/apprentice
[submodule "pack/third-party/start/vim-colors-solarized"]
	path = pack/third-party/start/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
