[submodule "pack/git-managed/opt/vim-commentary"]
	path = pack/git-managed/opt/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "pack/git-managed/opt/vim-repeat"]
	path = pack/git-managed/opt/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "pack/git-managed/opt/vim-surround"]
	path = pack/git-managed/opt/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "pack/git-managed/opt/vim-dispatch"]
	path = pack/git-managed/opt/vim-dispatch
	url = https://github.com/tpope/vim-dispatch
[submodule "pack/git-managed/opt/vim-unimpaired"]
	path = pack/git-managed/opt/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule "pack/git-managed/opt/vim-editorconfig"]
	path = pack/git-managed/opt/vim-editorconfig
	url = https://github.com/sgur/vim-editorconfig
[submodule "pack/git-managed/opt/targets.vim"]
	path = pack/git-managed/opt/targets.vim
	url = https://github.com/wellle/targets.vim
[submodule "pack/git-managed/opt/vim-indent-object"]
	path = pack/git-managed/opt/vim-indent-object
	url = https://github.com/michaeljsmith/vim-indent-object
[submodule "pack/git-managed/opt/vim-solarized8"]
	path = pack/git-managed/opt/vim-solarized8
	url = https://github.com/lifepillar/vim-solarized8
[submodule "pack/git-managed/opt/photon.vim"]
	path = pack/git-managed/opt/photon.vim
	url = https://github.com/axvr/photon.vim
[submodule "pack/git-managed/opt/vim-endwise"]
	path = pack/git-managed/opt/vim-endwise
	url = https://github.com/tpope/vim-endwise
[submodule "pack/git-managed/opt/tagbar"]
	path = pack/git-managed/opt/tagbar
	url = https://github.com/preservim/tagbar
