[submodule "pack/third-party/opt/apprentice"]
	path = pack/third-party/opt/apprentice
	url = https://github.com/romainl/apprentice
[submodule "pack/third-party/opt/vim-commentary"]
	path = pack/third-party/opt/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "pack/third-party/opt/vim-surround"]
	path = pack/third-party/opt/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "pack/third-party/opt/vim-repeat"]
	path = pack/third-party/opt/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "pack/third-party/opt/vim-textobj-user"]
	path = pack/third-party/opt/vim-textobj-user
	url = https://github.com/kana/vim-textobj-user
[submodule "pack/third-party/opt/vim-textobj-entire"]
	path = pack/third-party/opt/vim-textobj-entire
	url = https://github.com/kana/vim-textobj-entire
[submodule "pack/third-party/opt/vim-textobj-indent"]
	path = pack/third-party/opt/vim-textobj-indent
	url = https://github.com/kana/vim-textobj-indent
[submodule "pack/third-party/opt/fzf.vim"]
	path = pack/third-party/opt/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "pack/third-party/opt/vim-liquid"]
	path = pack/third-party/opt/vim-liquid
	url = https://github.com/tpope/vim-liquid
[submodule "pack/third-party/opt/vim-gitbranch"]
	path = pack/third-party/opt/vim-gitbranch
	url = https://github.com/itchyny/vim-gitbranch
